[Unit]
Description=User resume actions
After=suspend.target

[Service]
User=lasse
Type=simple
ExecStart=/usr/bin/blurlock

[Install]
WantedBy=suspend.target
